@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
  margin: 0;
  background-color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
///////////////////////////////////////////////////////NAVBAR
*/
.buy-navbar-container {
  background-color: #0c0b0ab8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  border-radius: 0 0 42px 42px; /* Rounded edges at the top */
  margin: 0px auto;
  position: relative;
  width: 100%;
  z-index: 1000; /* Increase the z-index to ensure it's in front */
}

.buy-navbar {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.buy-navbar-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buy-navbar-connect button {
  background-color: #9E9E9E;
  border: 1px solid #212121; /* Add border style */
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  font-family: 'Outfit';
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.buy-network-links{
  list-style: none;
  display: flex;
  margin: 0 65px;
  font-family: 'Outfit';
  align-items: center;
  margin-right: 5px;
}

.buy-network-links li{
  margin: 0 15px;
  position: relative; /* Needed for dropdown positioning */
}

.buy-network-links li a{
  border: 1px solid white;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 65px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.buy-network-links a:hover{
  background-color: #555555;
}

.buy-network-links li:hover .network-dropdown{
  display: flex; /* Display the dropdown when hovering over a list item */
  flex-direction: column;
}

.buy-network-links .network-dropdown a{
  border: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
}

.buy-network-links .network-dropdown a:hover{
  background-color: #555555;
}

.network-dropdown {
  position: absolute;
  top: 155%;
  left: 0;
  display: none; /* Hide the dropdown by default */
  background-color: #0c0b0ab8;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 195px;
}

.buy-navbar-connect button:hover,
.buy-navbar-connect button.clicked {
  background-color: #555555;
}


.buy-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 0px; /* Adjust this margin as needed */
}

.buy-logo {
  width: 52px;
  height: 52px;
}

.buy-title {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.buy-nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Outfit';
  align-items: center;
}

.buy-nav-links li {
  margin: 0 15px;
  position: relative; /* Needed for dropdown positioning */
}

.buy-nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.buy-nav-links li a:hover {
  background-color: #555555;
}

.dropdown {
  position: absolute;
  top: 180%;
  left: 0;
  display: none; /* Hide the dropdown by default */
  background-color: #0c0b0ab8;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
}

.buy-nav-links li:hover .dropdown {
  display: flex; /* Display the dropdown when hovering over a list item */
  flex-direction: column;
}

.buy-nav-links .dropdown a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  transition: background-color 0.3s ease;
  display: block;
}

.buy-nav-links .dropdown a:hover {
  background-color: #555555;
}

.buy-fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 0 20px;
  border-radius: 42px;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

/* 
///////////////////////////////////////////////////////Main Content
*/
.buy-main-content {
  flex-grow: 1; /* Expand to fill available space */
}

.buy-body-top-section {
  display: flex;
  justify-content: left;
  align-items: left;
  border-radius: 42px;
  margin: 40px auto; /* Add margin to center the section and create distance from top */
  width: 1150px;
  height: 1075px; /* Adjust the height as needed */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  position: relative; /* Add relative positioning to the container */
}

.buy-background-container {
  position: relative;
  width: 100%;
  height: 100%; /* Set a fixed height */
  overflow: hidden;
  background-image: url('./assets/CONTAINER1.PNG');
  background-size: cover; /* Adjust the background size to fully cover the container */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 42px; /* Add rounded corners to the background container */
}

.buy-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.buy-about-container {
  margin-top: 70px;
  width: 100%;
  height: 567.5px;
  border-radius: 42px;
  background-color: transparent;
  border: 2px solid #0c0b0ab8;
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Hide overflowing content */
}

@media (max-width: 1400px) {
  .buy-navbar-connect-wrapper {
    margin-left: auto; /* Push the connect button to the right */
    margin-right: 150px; /* Adjust this margin for smaller screens */
  }
}

/* Add more media queries as needed for different screen sizes */
@media (max-width: 1280px) {
  .buy-navbar-connect-wrapper {
    margin-right: 120px;
  }
}

@media (max-width: 1024px) {
  .buy-navbar-connect-wrapper {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .buy-navbar-connect-wrapper {
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .buy-navbar-connect-wrapper {
    margin-right: 30px;
  }
}
