@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css');

body {
  margin: 0;
  background-color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
///////////////////////////////////////////////////////NAVBAR
*/
.buy-navbar-container {
  background-color: #0c0b0ab8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 0 0 42px 42px; /* Rounded edges at the top */
  margin: 0px auto;
  position: relative;
  width: 100%;
  z-index: 1000; /* Increase the z-index to ensure it's in front */
}

.buy-navbar {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.buy-navbar-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buy-navbar-connect button {
  background-color: #9E9E9E;
  border: 1px solid #212121; /* Add border style */
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  font-family: 'Outfit';
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.buy-network-links{
  list-style: none;
  display: flex;
  margin: 0 95px;
  font-family: 'Outfit';
  align-items: center;
  margin-right: 10px;
}

.buy-network-links li{
  position: relative; /* Needed for dropdown positioning */
}

.network-home-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid white;
  padding: 6.5px 0px 6.5px 30px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  width: 155px;
}

.network-home-link:hover{
  background-color: #555555;
}

.buy-network-links a:hover{
  background-color: #555555;
}

.buy-network-links li:hover .network-dropdown {
  display: flex; /* Display the dropdown when hovering over a list item */
  flex-direction: column;
}

.buy-network-links .network-dropdown a{
  border: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buy-network-links .network-dropdown a:hover{
  background-color: #555555;
}

.network-group {
  margin: 0px 5px;
  color: white;
}

.network-group p {
  font-weight: bold;
  font-size: 16px; 
  margin-bottom: 2px; 
  margin-left: 2px;
  border-bottom: 1px solid white;
}

.network-group .network-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.network-group .network-button:hover {
  background-color: #555555;
}

.network-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; /* Hide the dropdown by default */
  background-color: #0c0b0ab8;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 185px;
}

.network-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px 10px 30px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  position: relative; 
}

.network-logo {
  position: absolute;
  left: 5px; /* Adjust the left position to align the logo */
  top: 50%; /* Position it vertically in the middle */
  transform: translateY(-50%); /* Center the logo vertically */
  width: 20px; /* Adjust the width of the logo */
  height: 20px; /* Adjust the height of the logo */
}

.network-button:hover {
  background-color: #555555;
}

.buy-navbar-connect button:hover {
  background-color: #555555;
}

.buy-navbar-connect button.clicked{
background-color: #212121
}

.buy-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 0px; /* Adjust this margin as needed */
}

.buy-logo {
  width: 52px;
  height: 52px;
}

.buy-title {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.buy-nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Outfit';
  align-items: center;
}

.buy-nav-links li {
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.buy-nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.buy-nav-links li a:hover{
  background-color: #555555;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; /* Hide the dropdown by default */
  background-color: #0c0b0ab8;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
}

.buy-nav-links li:hover .dropdown {
  display: flex; /* Display the dropdown when hovering over a list item */
  flex-direction: column;
}

.buy-fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 0 20px;
  border-radius: 42px;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  color: white;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
 }
 
 .gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 5px;
  top: 4px
 }

 .home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.home-link i {
  margin-left: 2px; /* Adjust the spacing between "Home" and the arrow icon */
}

/* 
///////////////////////////////////////////////////////Main Content
*/
.buy-body-top-section {
  display: flex;
  flex-direction: column;  
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin: 40px auto; /* Add margin to center the section and create distance from top */
  width: 100%; /* Set the width to 100% to fill the container */
  height: auto; /* Adjust the height as needed */
  position: relative; /* Add relative positioning to the container */
}

.buy-main-content {
  flex-grow: 1; /* Expand to fill available space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 0px;
  margin: 0px; /* Remove margin to allow full-width */
  margin-top: 20px;
  width: 100%; /* Set the width to 100% to fill the container */
  height: auto; /* Adjust the height as needed */
  position: relative; /* Add relative positioning to the container */
}

/* Splide Slider Container */
.splide-container {
  border-radius: 10px; /* Add rounded corners to the slider container */
  overflow: hidden; /* Hide overflowing content */
  width: 85%; /* Adjust the width as needed */
  height: 100%;
  border: 2px solid white;
}

/* Updated Splide Slider Styles */
.splide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent; /* Change the background color */
}

.video-background {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind other content */
}

.splide__track {
  gap: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;
}

.splide__slide {
  position: relative;
  flex: 0 0 auto;
  padding-top: 60px;
  padding-bottom: 90px;
  max-width: 100%;
  text-align: center;
  list-style: none; /* Remove bullet points */
  background-color: transparent; /* Remove background color */
  border-radius: 0; /* Remove border radius */
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide__slide a {
  display: flex;
  align-items: flex-start; /* Align text to the bottom right */
  text-decoration: none; /* Remove underline from anchor tags */
  position: relative;
}

.splide__slide img {
  width: 92%; /* Let the width adjust proportionally */
  height: 100%; /* Set your desired height */
  object-fit: contain; /* Maintain aspect ratio */
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.343);
  border-radius: 42px;
  margin-right: 175px;
  transition: transform 0.3s ease-in-out;
}

.splide__slide:hover img{
  transform: scale(1.1); /* Enlarge the slide on hover */
}

.image-container {
  position: relative;
  width:100%;
  height:100%;
}

.image-text {
  position: absolute;
  top: 25px;
  right: 116.5px;
  padding: 10px;
  font-size: 62px;
  font-weight: bold;
  color: white;
  z-index: 1;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.splide__slide:hover .image-text {
  border-color: #FFC8DD; /* Border color for the hovered slide */
  transform: scale(1.3); /* Enlarge the slide and text on hover */
  opacity: 1; /* Show the text on hover */
}

.splide__slide img:hover {
  border-color: #FFC8DD;
}

/* CSS for the pop effect */
.pop-effect img {
  transition: transform 0.3s ease, border-color 0.3s ease; /* Add transitions for smooth animation */
}

.pop-effect img:hover {
  border-color: #FFC8DD; /* Border color for the hovered image */
  transform: scale(1.1); /* Enlarge the image on hover */
}

/* Image Thumbnails Container */
.image-thumbnails {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Navigation Dots */
.splide__pagination {
  position: absolute !important;
  bottom: 20px !important; /* Adjust the distance from the bottom */
  left: 0 !important;
  right: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.splide__pagination__page {
  width: 12px !important; /* Adjust the width of each dot */
  height: 12px !important; /* Adjust the height of each dot */
  margin: 0 6px !important; /* Adjust the margin between dots */
  background-color: rgb(255, 255, 255) !important; /* Default dot color */
  border-radius: 50% !important; /* Make dots circular */
  cursor: pointer !important;
  transition: background-color 0.3s ease !important; /* Smooth transition for the dot color change */
}

/* Style for the active dot */
.splide__pagination__page.splide__pagination__page--active {
  background-color: white !important; /* Active dot color */
}

/* 
///////////////////////////////////Mid Container 
*/
.buy-mid-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 80px;
  width: 100%; /* Stretch to full width */
  max-width: 1200px; /* Set a maximum width if needed */
  height: 750px;
}

/* 
///////////////////////////////////Bottom Container 
*/
.buy-bottom-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 80px;
  width: 100%; /* Stretch to full width */
  max-width: 1200px; /* Set a maximum width if needed */
  height: 750px;
}

@media (max-width: 1400px) {
  .buy-navbar-connect-wrapper {
    margin-left: auto; /* Push the connect button to the right */
    margin-right: 150px; /* Adjust this margin for smaller screens */
  }
}

/* Add more media queries as needed for different screen sizes */
@media (max-width: 1280px) {
  .buy-navbar-connect-wrapper {
    margin-right: 120px;
  }
}

@media (max-width: 1024px) {
  .buy-navbar-connect-wrapper {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .buy-navbar-connect-wrapper {
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .buy-navbar-connect-wrapper {
    margin-right: 30px;
  }
}
