@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css');

body {
  margin: 0;
  background-color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
///////////////////////////////////////////////////////NAVBAR
*/
.buy-navbar-container {
  background-color: #0c0b0ab8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px; /* Decreased padding to make the navbar thinner */
  border-radius: 0 0 42px 42px;
  margin: 0px auto;
  position: relative;
  width: 100%;
  z-index: 1000;
 }
 
 .buy-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
 }
 
 .buy-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
 }
 
 .buy-logo {
  width: 52px;
  height: 52px;
 }
 
 .buy-title {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin: 0;
 }
 
 .buy-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Distributes items evenly in the container */
  width: 100%;
 }
 
 .buy-nav-links li {
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
 }
 
 .buy-nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 20px 15px; /* Increased padding to create more space from the letters to the edge of the tab */
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  line-height: 1;
 }
 
 .buy-nav-links li a:hover {
  background-color: #555555;
 }
 
 .buy-navbar-connect {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right side of the container */
  align-items: center;
  width: 100%;
  margin-right: 10px;
 }
 
 .buy-network-options{
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right side of the container */
  align-items: center;
  width: 100%;
 }
 
 .buy-network-links {
  margin: 0 250px; /* Decreased margin to bring the network dropdown closer to the "Connect Wallet" button */
  font-family: 'Outfit';
  align-items: center;
  margin-right: 10px;
 }
 
 .buy-network-links select {
  background-color: #E75480; /* Darker pink for non-hover state */
  border: 1px solid #E75480; /* Darker pink for non-hover state */
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  font-family: 'Outfit';
  border-radius: 12px;
  transition: background-color 0.3s ease;
 }
 
 .buy-network-links select:hover {
  background-color: #FFC8DD; /* Lighter pink for hover state */
  border-color: #FFC8DD; /* Lighter pink for hover state */
 }

 .buy-navbar-connect button {
  background-color: #9E9E9E;
  border: 1px solid #212121;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  font-family: 'Outfit';
  border-radius: 12px;
  transition: background-color 0.3s ease;
 }
 
 .buy-navbar-connect button:hover {
  background-color: #555555;
 }
 
 .buy-navbar-connect button.clicked {
  background-color: #212121;
 }
 
 .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; /* Hide the dropdown by default */
  background-color: #0c0b0ab8;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
 }
 
 .buy-nav-links li:hover .dropdown {
  display: flex; /* Display the dropdown when hovering over a list item */
  flex-direction: column;
 }
 
 .dropdown li {
  padding: 10px;
 }
 
 .dropdown li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 10px; /* Decreased padding to reduce the size of the links */
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  line-height: 1; /* Reduced line-height to reduce the space between lines of text */
 }
 
 .dropdown li a:hover {
  background-color: #555555;
 } 

 .home-link {
  display: flex; /* Allows the text and the icon to be displayed next to each other */
  align-items: center;
 }

/* 
///////////////////////////////////////////////////////Main Content
*/
.buy-body-top-section {
  display: flex;
  flex-direction: column;  
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin: 40px auto; /* Add margin to center the section and create distance from top */
  width: 100%; /* Set the width to 100% to fill the container */
  height: auto; /* Adjust the height as needed */
  position: relative; /* Add relative positioning to the container */
}

.buy-main-content {
  flex-grow: 1; /* Expand to fill available space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 0px;
  margin: 0px; /* Remove margin to allow full-width */
  margin-top: 20px;
  width: 100%; /* Set the width to 100% to fill the container */
  height: auto; /* Adjust the height as needed */
  position: relative; /* Add relative positioning to the container */
}

/* 
///////////////////////////////////Mid Container 
*/
.buy-mid-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 80px;
  width: 100%; /* Stretch to full width */
  max-width: 1200px; /* Set a maximum width if needed */
  height: 750px;
}

/* 
///////////////////////////////////Bottom Container 
*/
.buy-bottom-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 80px;
  width: 100%; /* Stretch to full width */
  max-width: 1200px; /* Set a maximum width if needed */
  height: 750px;
}

/* 
///////////////////////////////////Swap Page
*/
.connected-text {
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
}

/* 
///////////////////////////////////More Page
*/
.coming-soon-container {
  /* Border around the container */
  border: 1px solid #ccc;
  /* Padding inside the container */
  padding: 20px;
  /* Background color */
  background-color: #f9f9f9;
  /* Center the container horizontally */
  margin: 0 auto;
  /* Give the container a maximum width */
  max-width: 600px;
  /* Add some box shadows for a modern look */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Add rounded corners */
  border-radius: 20px;
 }
 
 .text-color {
  /* Text color */
  color: #333;
  /* Font size */
  font-size: 1.5em;
  /* Margin below the text */
  margin-bottom: 10px;
  /* Use a modern sans-serif font */
  font-family: 'Josefin Sans', sans-serif;
  /* Add some letter spacing for a more modern look */
  letter-spacing: 1px;
 }
 
 .form-color {
  /* Background color */
  background-color: #fff;
  /* Padding inside the form */
  padding: 10px;
  /* Border radius */
  border-radius: 10px;
  /* Margin below the form */
  margin-bottom: 20px;
  /* Add some box shadows for a modern look */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }
 
 .input-color {
  /* Width of the input field */
  width: 100%;
  /* Padding inside the input field */
  padding: 10px 0px;
  /* Border radius */
  border-radius: 10px;
  /* Border */
  border: 2px solid #777777;
  /* Margin below the input field */
  margin-bottom: 10px;
  /* Outline none */
  outline: none;
  /* Font size */
  font-size: 1.2rem;
  /* Add some transition for a smooth focus effect */
  transition: border-color 0.3s ease;
 }
 
 .button-color {
  /* Width of the button */
  width: 100%;
  /* Padding inside the button */
  padding: 1rem 2rem;
  /* Border radius */
  border-radius: 20px;
  /* Border */
  border: 2px solid #0077ff; 
  /* Background color */
  background: linear-gradient(to right, #0077ff, #0056b3); 
  /* Color of the text */
  color: #fff;
  /* Cursor style */
  cursor: pointer;
  /* Transition effect */
  transition: background-color 0.3s ease;
 }
 
 .button-color:hover {
  /* Change the background color when hovering */
  background: linear-gradient(to left, #0077ff, #0056b3);
 }
 
 .social-color {
  /* Display the links as block elements */
  display: flex;
  /* Justify the links */
  justify-content: space-between;
  /* Margin below the social links */
  margin-bottom: 20px;
 }
 
 @media screen and (max-width:900px) {
  .coming-soon-container {
  /* Adjust the container for smaller screens */
  width: 100%;
  margin: auto;
  }
 } 

@media (max-width: 1400px) {
  .buy-navbar-connect-wrapper {
    margin-left: auto; /* Push the connect button to the right */
    margin-right: 150px; /* Adjust this margin for smaller screens */
  }
}

/* Add more media queries as needed for different screen sizes */
@media (max-width: 1280px) {
  .buy-navbar-connect-wrapper {
    margin-right: 120px;
  }
}

@media (max-width: 1024px) {
  .buy-navbar-connect-wrapper {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .buy-navbar-connect-wrapper {
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .buy-navbar-connect-wrapper {
    margin-right: 30px;
  }
}
