@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
  margin: 0;
  background-color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
///////////////////////////////////////////////////////LOADINGSCREEN
*/
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Add the background styling */
  background: #121110;
  overflow: hidden;
}

.loading-text {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 100px;
  z-index: 1;
}


.loader {
  width: 96px;
  height: 96px;
  position: relative;
}

.bunny-image {
  width: 96px;
  height: 96px;
  animation: spin360 3s linear infinite;
  /* Add other styles as needed */
}

.loader:before,
.loader:after {
  content: '';
  width: 96px;
  height: 10px;
  background: #FFFFFF;
  position: absolute;
  top: 80px; /* Adjust this value as needed */
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
  opacity: 0.7; /* Adjust opacity for the shadow */
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes spin360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 6px;
  }

  25% {
    transform: translateY(18px) rotate(22.5deg);
  }

  50% {
    transform: translateY(36px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 80px;
  }

  75% {
    transform: translateY(18px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.2, 1);
    box-shadow: 0 0 10px rgba(255, 175, 204, 0.5);
  }
}

/* 
///////////////////////////////////////////////////////DYNAMIC BACKGROUND FOR LOADINGSCREEN
*/
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
}
100%{
    transform: translateY(-800px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
}

}

.background {
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
margin: 0;
padding: 0;
background: #0c0b0a;
overflow: hidden;
}

.background li {
position: absolute;
display: block;
list-style: none;
width: 20px;
height: 20px;
background: rgba(255, 255, 255, 0.2);
animation: animate 14s linear infinite;
}

.background li:nth-child(0) {
left: 52%;
width: 125px;
height: 125px;
bottom: 543px;
animation-delay: 0s;
}

.background li:nth-child(1) {
left: 82%;
width: 127px;
height: 127px;
bottom: 236px;
animation-delay: 0.01s;
}

.background li:nth-child(2) {
left: 26%;
width: 208px;
height: 208px;
bottom: 987px;
animation-delay: 0.02s;
}

.background li:nth-child(3) {
left: 6%;
width: 153px;
height: 153px;
bottom: 998px;
animation-delay: 0s;
}

.background li:nth-child(4) {
left: 53%;
width: 149px;
height: 149px;
bottom: 612px;
animation-delay: 0.01s;
}

.background li:nth-child(5) {
left: 7%;
width: 172px;
height: 172px;
bottom: 118px;
animation-delay: 0s;
}

.background li:nth-child(6) {
left: 75%;
width: 218px;
height: 218px;
bottom: 765px;
animation-delay: 0.02s;
}

.background li:nth-child(7) {
left: 9%;
width: 137px;
height: 137px;
bottom: 489px;
animation-delay: 0s;
}

.background li:nth-child(8) {
left: 4%;
width: 192px;
height: 192px;
bottom: 784px;
animation-delay: 0.01s;
}

.background li:nth-child(9) {
left: 75%;
width: 209px;
height: 209px;
bottom: 53px;
animation-delay: 0s;
}

.background li:nth-child(10) {
left: 89%;
width: 123px;
height: 123px;
bottom: 567px;
animation-delay: 0.01s;
}

.background li:nth-child(11) {
left: 36%;
width: 182px;
height: 182px;
bottom: 195px;
animation-delay: 0.01s;
}

.background li:nth-child(12) {
left: 27%;
width: 145px;
height: 145px;
bottom: 845px;
animation-delay: 0s;
}

.background li:nth-child(13) {
left: 32%;
width: 140px;
height: 140px;
bottom: 129px;
animation-delay: 0s;
}

.background li:nth-child(14) {
left: 67%;
width: 163px;
height: 163px;
bottom: 691px;
animation-delay: 0.01s;
}

.background li:nth-child(15) {
left: 66%;
width: 144px;
height: 144px;
bottom: 419px;
animation-delay: 0s;
}

/* 
///////////////////////////////////////////////////////NAVBAR
*/
.navbar-container {
  background-color: #0c0b0ab8;
  display: flex;
  justify-content: center; /* Adjust alignment to space between */
  align-items: center;
  padding: 10px 20px; /* Add horizontal padding */
  border-radius: 42px;
  margin: 20px auto 0;
  width: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 27.5px; /* Adjust this margin as needed */
}

.hamburger {
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
  padding: 20px;
  margin-right: 37.5px; /* Adjust this margin as needed */
}

.hamburger:hover {
  background-color: #555555;
}

.logo {
  width: 52px;
  height: 52px;
}

.title {
  font-size: 33px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 49px;
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
  align-items: center;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 21px;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #555555;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 42px;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

/* 
///////////////////////////////////////////////////////HOMESCREEN TOP SECTION
*/
/* Left Sidebar */
.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 155px; /* Adjust the width as needed */
  background-color: #0c0b0ab8;
  z-index: -1; /* Place it behind the content */
}

/* Right Sidebar */
.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 155px; /* Adjust the width as needed */
  background-color: #0c0b0ab8;
  z-index: -1; /* Place it behind the content */
}

.left-sidebar,
.right-sidebar {
  background-color: #0c0b0ab8;
  width: 50px; /* Adjust the width of the sidebars */
  height: 100vh;
  width: 300px;
  /* Other sidebar styles */
}

.body-top-section {
  display: flex;
  justify-content: left;
  align-items: left;
  border-radius: 42px;
  margin: 40px auto; /* Add margin to center the section and create distance from top */
  width: 1150px;
  height: 1075px; /* Adjust the height as needed */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  position: relative; /* Add relative positioning to the container */
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%; /* Set a fixed height */
  overflow: hidden;
  background-image: url('./assets/CONTAINER1.PNG');
  background-size: cover; /* Adjust the background size to fully cover the container */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 42px; /* Add rounded corners to the background container */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.section-content {
  position: relative; /* Add relative positioning to the section-content */
  text-align: left;
  padding: 20px; /* Add padding to space out the content from the edges */
  margin-top: 15px; /* Adjust the margin from the top */
  margin-left: 30px; /* Adjust the margin from the left */
  z-index: 1; /* Ensure the section-content is above the background image */
}

.section-title {
  font-size: 59px; /* Increase font size for the title */
  font-weight: bold;
  margin-bottom: 5px; /* Reduce the margin between title and subtitle */
  max-width: 61%; /* Set the maximum width for the title */
  color: white; /* Set title text color to white */
}

.section-subtitle {
  font-size: 20px; /* Increase font size for the subtitle */
  font-weight: bold;
  color: white; /* Set subtitle text color to white */
  margin-bottom: 35px; /* Adjust space between subtitle and buttons */
  margin-top: 0;
}

.section-buttons {
  display: flex;
  gap: 25px; /* Add some spacing between the buttons */
}

.section-button.left-button {
  padding: 20px 35px; /* Increase padding to make buttons bigger */
  font-size: 20px; /* Increase font size for button text */
  background-color: #9E9E9E; /* Set the background color of the left button */
  color: black; /* Set text color for the left button */
  border: none;
  font-weight: bold;
  border-radius: 30px; /* Increase the border-radius for rounder buttons */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section-button.left-button:hover {
  background-color: #FFC8DD; /* Change the background color on hover */
  color: white; /* Change text color on hover */
}

.no-underline {
  text-decoration: none;
}

.section-button.right-button {
  padding: 20px 35px; /* Increase padding to make buttons bigger */
  font-size: 20px; /* Increase font size for button text */
  background-color: transparent; /* Set transparent background color */
  color: white; /* Set text color for the right button */
  border: 2px solid #9E9E9E; /* Add border to the right button */
  font-weight: bold;
  border-radius: 30px; /* Increase the border-radius for rounder buttons */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.section-button.right-button:hover {
  background-color: #FFC8DD; /* Change the background color on hover */
  border-color: #FFC8DD; /* Change border color on hover */
  color: white; /* Change text color on hover */
}

.main-content {
  flex-grow: 1; /* Expand to fill available space */
}

/* HomeScreen.css */
/* Define fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Define slide-up animation */
@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Define scale animation */
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Apply animations to elements */
.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-slide-up {
  animation: slideUp 1s ease-in-out;
}

.animate-scale {
  animation: scale 0.5s ease-in-out;
}

.sponsor-container {
  margin-top: 70px; /* Add some distance between the two sections */
  width: 100%;
  height: 200px;
  border-radius: 42px;
  background-color: #9E9E9E;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

.sponsor-images {
  display: flex;
  gap: 30px; /* Adjust the gap between images */
  justify-content: center;
  align-items: center;
  animation: bounceImages 5s linear infinite alternate; 
}

.sponsor-image {
  width: 300px; /* Set a consistent width for the images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 16px; /* Add rounded corners to the images */
  margin: 0 15px;
}

@keyframes bounceImages {
  0% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(-100px); /* Adjust the distance of the bounce */
  }
}

.about-container {
  margin-top: 70px;
  width: 100%;
  height: 567.5px;
  border-radius: 42px;
  background-color: transparent;
  border: 2px solid #0c0b0ab8;
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Hide overflowing content */
}

.about-background-image {
  position: absolute; /* Position the background image */
  top: 0;
  right: 0;
  bottom: 0;
  width: 53%; /* Set the width of the image */
  background-image: url('./assets/HomeScreen_Image1.png'); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center; /* Position the image to the right */
  z-index: -1; /* Place the image behind the content */
  opacity: 0.8; /* Adjust the opacity of the image */
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.022));
}

.about-content,
.ecosystem-content {
  position: relative; /* Add relative positioning to the section-content */
  text-align: left;
  padding: 20px; /* Add padding to space out the content from the edges */
  margin-top: 0px; /* Adjust the margin from the top */
  margin-left: 20px; /* Adjust the margin from the left */
  z-index: 1; /* Ensure the section-content is above the background image */
}

.about-title, 
.ecosystem-title {
  font-size: 59px; 
  font-weight: bold;
  margin-bottom: 15px; /* Reduce the margin between title and subtitle */
  max-width: 100%; /* Set the maximum width for the title */
  color: white; /* Set title text color to white */
  margin-top: 0;
}

.about-subtitle,
.ecosystem-subtitle {
  font-size: 18px; /* Increase font size for the subtitle */
  font-weight: normal;
  color: #AEAEAE; /* Set subtitle text color to white */
  margin-bottom: 5px; /* Adjust space between subtitle and buttons */
  margin-top: 0;
}

.about-text {
  font-size: 17px; /* Increase font size for the title */
  font-weight: normal;
  margin-bottom: 15px; /* Reduce the margin between title and subtitle */
  max-width: 50%; /* Set the maximum width for the title */
  color: white; /* Set title text color to white */
  margin-top: 0;
}

.about2-container {
  margin-top: 10px;
  width: 100%;
  height: 567.5px;
  border-radius: 42px;
  background-color: transparent;
  border: 2px solid #0c0b0ab8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.about2-content {
  position:relative;
  text-align: right; /* Align the text to the right */
  padding: 20px;
  margin-top: 15px;
  margin-left: auto; /* Adjust margin to push the text to the right edge */
  margin-right: 20px;
  max-width: 50%; /* Limit the width of the text */
  z-index: 1;
}

.about2-text {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 15px;
  max-width: 100;
  color: white;
  margin-top: 0;
}

.about2-background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 53%;
  background-image: url('./assets/HomeScreen_Image2.png'); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position:left center; /* Position the image to the right */
  z-index: -1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.005));
}

/* Apply hover effect to the about section */
.about-container:hover,
.about2-container:hover {
  border-color: #FFC8DD; /* Change border color on hover */
}

.about-container:hover .about-title,
.about-container:hover .about-subtitle {
  color: #FFC8DD; /* Change title and subtitle color on hover */
}

/* Apply hover effect to the ecosystem section */
.ecosystem-container:hover {
  border-color: #FFC8DD; /* Change border color on hover */
}

.ecosystem-container:hover .ecosystem-title,
.ecosystem-container:hover .ecosystem-subtitle {
  color: #FFC8DD; /* Change title and subtitle color on hover */
}

.ecosystem-boxes-box:hover,
.ecosystem-boxes-box-text:hover,
.ecosystem-boxes-box-subtext:hover {
  border-color: #FFC8DD;
  color: #FFC8DD;
}


.ecosystem-container {
  margin-top: 70px; /* Add some distance between the two sections */
  width: 100%;
  height: 150px;
  border-radius: 42px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: left;
  /* Add additional styling as needed */
}

.ecosystem-boxes-container {
  margin-top: 0;
  width: 100%;
  height: 925px;
  border-radius: 42px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ecosystem-boxes-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Adjust spacing between rows */
}

.ecosystem-boxes-box {
  width: 475px;
  height: 425px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 42px;
  margin: 10px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Set default text color */
  position: relative; /* Set position to allow absolute positioning of image */
  overflow: hidden; /* Hide overflow for the zoom effect */
  transition: all 0.3s ease-in-out; /* Transition for zoom effect */
}

.ecosystem-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the parent's color (white in your case) */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.ecosystem-boxes-box-text {
  font-size: 59px;
  font-weight: bold;
  margin-bottom: 0px;
}

.ecosystem-boxes-box-subtext {
  font-size: 18px; 
  font-weight: normal;
}

/* Add the background image and blur effect */
.ecosystem-boxes-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Initial blur effect */
  transition: all 0.3s ease-in-out; /* Transition for blur effect */
  z-index: -1; /* Place the image behind the content */
}

.tokenomics-box::before {
  background-image: url('./assets/PlaceHolder_Image2.png');
}

.nftcollections-box::before {
  background-image: url('./assets/Mikasa.png');
}

.whitepaper-box::before {
  background-image: url('./assets/PlaceHolder_Image.png');
}

.community-box::before {
  background-image: url('./assets/PlaceHolder_Image2.png');
}


/* Apply the clearer image and zoom effect on hover */
.ecosystem-boxes-box:hover {
  transform: scale(1.05); /* Zoom in effect on hover */
}

.ecosystem-boxes-box:hover::before {
  filter: blur(0); /* Clearer image on hover */
}

/* 
///////////////////////////////////////////////////////IMAGE CONTAINER
*/
.image-gif-container {
  margin-top: 1000px; /* Add some distance between the ecosystem section and the new container */
  margin-bottom: 50px; /* Add some distance at the bottom */
  width: 100%;
  height: 765px;
  border-radius: 42px;
  background-color: transparent;
  border: 2px solid #0c0b0ab8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.image-gif-background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url('./assets/PlaceHolder_Image.png'); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

/* 
///////////////////////////////////////////////////////SIDEBAR MENU
*/
.sidebar-menu {
  position: fixed;
  top: 0;
  right: -625px; /* Move the sidebar off-screen initially */
  width: 625px;
  height: 100%;
  background-color: #0c0b0ab8;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
  border-left: 1px solid white; /* Add a left border with white color */
}

.sidebar-menu.open {
  right: 0; /* Slide the sidebar into view */
}

/* Sidebar Options */
.sidebar-options {
  max-height: calc(100vh - 80px); /* Adjust to leave space for the close icon */
  overflow-y: auto; /* Add scroll if content overflows */
  padding: 20px;
  text-align: left;
  margin-left: 25px;
}

.sidebar-title {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 17.5px;
  color: #FFFFFF;
}

.sidebar-spacing {
  margin-top: 40px;
}

/* Sidebar Close Icon */
.sidebar-close-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  color: white; /* Set the color to white */
  transition: color 0.3s ease-in-out;
}

.sidebar-close-icon:hover {
  color: #FFC8DD; /* Apply the hover color */
}

/* Links in Sidebar */
.sidebar-options a {
  display: block;
  margin-bottom: 10px;
  color: white; /* Set the color to white */
  text-decoration: none;
  text-align: left;
  font-size: 20.5px;
  font-weight: lighter;
  transition: color 0.3s ease-in-out;
}

.sidebar-options a:hover {
  color: #FFC8DD; /* Apply the hover color */
}

/* 
///////////////////////////////////////////////////////FOOTER SECTION
 */


/* Media query for smaller screens */
@media (max-width: 768px) {
  .body-top-section {
    flex-direction: column; /* Stack content on top of each other */
  }

  .left-sidebar,
  .right-sidebar {
    display: none; /* Hide sidebars on smaller screens */
  }
}

/* Additional media queries for other screen sizes */
@media (max-width: 1440px) {
  .body-top-section {
    flex-direction: column; /* Stack content on top of each other */
  }

  .left-sidebar,
  .right-sidebar {
    display: none; /* Hide sidebars on smaller screens */
  }
}

@media (max-width: 1280px) {
  .body-top-section {
    flex-direction: column; /* Stack content on top of each other */
  }

  .left-sidebar,
  .right-sidebar {
    display: none; /* Hide sidebars on smaller screens */
  }
}
